@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <h1 class="display-4 ">Cadastrar Contatos</h1>

</div>

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Nome do Contato">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" placeholder="exemplo@exemplo.com">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

